.gallery-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
  .gallery-heading {
    font-size: 5rem;
    padding: 150px 0 0 0;
    -webkit-text-stroke: 0.12rem white;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: none;
    @include media("<=tablet") {
      display: block;
    }
    @include media("<=phone") {
      display: block;
    }
  }
  .gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 20vh);
    grid-template-rows: repeat(4, 20vh);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
      ". . box1 ."
      "box2 box3 box3 box4"
      "box5 box3 box3 box6"
      ". box7 . .";
    @include media("<=tablet") {
      top: 60%;
      grid-template-columns: repeat(4, 15vh);
      grid-template-rows: repeat(4, 15vh);
    }
    @include media("<=phone") {
      top: 60%;
      grid-template-columns: repeat(4, 10vh);
      grid-template-rows: repeat(4, 10vh);
    }
    .box1 {
      // top
      cursor: pointer;
      grid-area: box1;
      // background-color: red;
      position: relative;
      left: 50%;
      .image1 {
      }
    }
    .box2 {
      // top left
      grid-area: box2;
      // background-color: red;
      position: relative;
      margin: 2vh 0 0 2vh;
      .image2 {
      }
    }
    .box3 {
      grid-area: box3;
      position: relative;
      z-index: 2;
      // background-color: red;
      .image3 {
      }
    }
    .box4 {
      grid-area: box4;
      // background-color: red;
      .image4 {
      }
    }
    .box5 {
      grid-area: box5;
      // background-color: red;
      .image5 {
      }
    }
    .box6 {
      grid-area: box6;
      // background-color: red;
      margin: 0 2vh 2vh 0;
      .image6 {
      }
    }
    .box7 {
      // bottom
      grid-area: box7;
      // background-color: red;
      position: relative;
      left: -50%;
      .image7 {
      }
    }
  }
}
