.gallery-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  // padding-top: 40px;
  transform-origin: 50% 50%;
  overflow: hidden;
  position: relative;
  //
  width: 100vw !important;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.gallery {
  // height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 21vh);
  grid-template-rows: repeat(4, 21vh);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "box2 . box1 box1"
    "box2 box3 box3 box4"
    "box5 box3 box3 box6"
    "box7 box7 . box6";
  //
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  // width: 70vw;
  // height: 60vw;
  // margin: 0 calc(100vw / 20 * 3);
  position: absolute;
}

.box1 {
  grid-area: box1;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.image1 {
  background-color: red;
  height: 100px;
  width: 100px;
}

.box2 {
  grid-area: box2;
  /* background-color: white; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.image2 {
  background-color: red;
  height: 100px;
  width: 100px;
}

.box3 {
  grid-area: box3;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image3 {
  position: relative;
  background-color: red;
  width: 100%;
  padding-top: 100%;
}

.box4 {
  grid-area: box4;
  /* background-color: white; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.image4 {
  background-color: red;
  width: 100%;
  padding-top: 100%;
  transform: scale(1.6);
  transform-origin: 0% 0%;
}

.box5 {
  grid-area: box5;
  /* background-color: white; */
  justify-content: flex-end;
  align-items: flex-end;
}
.image5 {
  background-color: red;
  width: 100%;
  padding-top: 100%;
  transform: scale(1.6);
  transform-origin: 100% 100%;
}

.box6 {
  grid-area: box6;
  /* background-color: white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image6 {
  background-color: red;
  height: 100px;
  width: 100px;
}

.box7 {
  grid-area: box7;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.image7 {
  background-color: red;
  height: 100px;
  width: 100px;
}
