.menu {
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 0%;
  width: 100%;
  overflow: hidden;
  .anim-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 0%;
    width: 100%;
    overflow: hidden;
    background-color: $black;
  }
  .menu-container {
    position: relative;
    background: $red;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    .menu-left {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .menu-links {
        display: flex;
        flex-direction: column;
        height: 320px;
        a {
          color: $white;
          font-size: 4rem;
          font-weight: 700;
          // margin-bottom: 10px;
          height: 64px;
          overflow: hidden;
          &:hover {
            color: $black;
          }
        }
      }
      .social-links {
        margin-top: 50px;
        a {
          color: $white;
          margin-right: 0px;
          display: inline-block;
          overflow: hidden;
          height: 38px;
          width: fit-content;
          padding: 10px 20px;
          &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            height: 2px;
            left: 50%;
            display: block;
            position: relative;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          &:hover:after {
            width: 100%;
            left: 0;
          }
          &:hover {
            padding: 10px 20px;
            background-color: $black;
          }
        }
      }
    }
    .menu-right {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include media("<=tablet") {
        display: none;
      }
      .walt-container {
        position: absolute;
        right: -50px;
        bottom: -50px;
        -ms-transform: rotate(-30deg);
        transform: rotate(-30deg);
        img {
          height: 500px;
        }
      }
    }
  }
}
